*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(27, 34, 43);

}

.formulario {
    width: 370px;
    height: 100%;
    background:rgb(44, 55, 72);
    padding-left:30px ;
    padding-right:30px ;
    padding-top:30px ;
    padding-bottom:30px ;
    margin:auto;
    margin-top: 30px;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: #6e7ea0;
    color: #95a4c5;
   
   

 
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: rgb(44,55,72)

    

    

}

.formulario .rectangulo {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: azure;
   
   

}
.formulario .boton {
    margin-bottom: 40px;
    width: 100%;
    height: 40px;
    border-radius: 0.25em;
    border-style: solid;
    border-width: 2px;
    border-color: #070707;
    background-color: #2692ea;
    color: white;
    font-family:Arial;
    font-size: 12px;
    
}
 
.letra {
    background-color:rgb(44,55,72)
    
}

.errorCubo {
   position:relative;
}

.falloImg { 
    position:absolute;
    right:7px;
    top:-60px;
    background-color: azure;
    display: none;

}

.aciertoImg {
    position:absolute;
    right:7px;
    top:-60px;
    background-color: azure;
    display:none;
    

}

.textFallo{
    color:rgb(228, 129, 129);
    font-size: 12px;
    font-family: 'Arial';
    position:absolute;
    margin-top: -26px;
    background-color: rgb(44,55,72);
    display: none;
    
}


.errorCubo2 {
    position:relative;
 }
 
 .falloEmail{ 
     position:absolute;
     right:7px;
     top:-60px;
     background-color: azure;
     display: none;
 
 }
 
 .aciertoEmail {
     position:absolute;
     right:7px;
     top:-60px;
     background-color: azure;
     display: none;
    
     
 
 }
 
 .textFallo2{
     color:rgb(228, 129, 129);
     font-size: 12px;
     font-family: 'Arial';
     position:absolute;
     margin-top: -26px;
     background-color: rgb(44,55,72);
     display: none;
    
     
 }


 .errorCubo3 {
    position:relative;
 }
 
 .falloClave{ 
     position:absolute;
     right:7px;
     top:-60px;
     background-color: azure;
     display: none;
 
 }
 
 .aciertoClave {
     position:absolute;
     right:7px;
     top:-60px;
     background-color: azure;
     display: none;
    
     
 
 }
 
 .textFallo3{
     color:rgb(228, 129, 129);
     font-size: 12px;
     font-family: 'Arial';
     position:absolute;
     margin-top: -26px;
     background-color: rgb(44,55,72);
     display: none;
    
     
 }


 .errorCubo4 {
    position:relative;
 }
 
 .falloClave2{ 
     position:absolute;
     right:7px;
     top:-60px;
     background-color: azure;
     display: none;
 
 }
 
 .aciertoClave2 {
     position:absolute;
     right:7px;
     top:-60px;
     background-color: azure;
     display: none;
    
     
 
 }
 
 .textFallo4{
     color:rgb(228, 129, 129);
     font-size: 12px;
     font-family: 'Arial';
     position:absolute;
     margin-top: -26px;
     background-color: rgb(44,55,72);
     display: none;
    
     
 }

 .invalido{
    color:rgb(228, 129, 129);
    font-size: 12px;
    font-family: 'Arial';
    position:absolute;
    margin-top: -26px;
    background-color: rgb(44,55,72);
    display: none;
 }

 .caracteres {
    color:rgb(228, 129, 129);
    font-size: 12px;
    font-family: 'Arial';
    position:absolute;
    margin-top: -26px;
    background-color: rgb(44,55,72);
    display: none ;
    
 }

 .contIguales{
    color:rgb(228, 129, 129);
    font-size: 12px;
    font-family: 'Arial';
    position:absolute;
    margin-top: -26px;
    background-color: rgb(44,55,72);
   display: none;
 }

 